<!-- _includes/footer.html -->
<hr>
<footer>
  <h2 id="get-involved">Support The Projects</h2>
  <ul>
    <li><a href=""></a></li>
  </ul>
  
  <h2 id="get-involved">Get Involved</h2>
  <ul>
    <li><a href="https://castromedia.substack.com">Subscribe on Substack</a> for free email updates</li>
    <li><a href="https://www.tiktok.com/@castromedia.org">Follow us on TikTok</a></li>
    <li><a href="">Follow us on Youtube</a></li>
    <li><a href="">Follow us on Bluesky</a></li>
    <li><a href="https://github.com/Castro-Media/CastroMedia.org/blob/main/{{ page.path }}">Edit this page on GitHub</a></li>
  </ul>
</footer>
