<!-- _includes/footer.html -->
<hr>
<footer>

  <div class="container">
      <div class="row">
          <div class="col-md-4">
            <h2 id="get-involved">Support The Projects</h2>
            <ul>
              <li><a href="https://www.gofundme.com/f/aucfwq-support-castro-media-amplify-underrepresented-voices">Support Castro Media directly</a></li>
              <li><a href="https://shop.castromedia.org">Buy Merch to Support Worthy Causes</a></li>
            </ul>
          </div>
          <div class="col-md-4">
            <h2 id="get-involved">Get Involved</h2>
            <ul>
              <li><a href="https://castromedia.substack.com">Subscribe on Substack</a> for free email updates</li>
              <li><a href="https://www.tiktok.com/@castromedia.org">Follow us on TikTok</a></li>
              <li><a href="">Follow us on Youtube</a></li>
              <li><a href="">Follow us on Bluesky</a></li>
              <li><a href="https://github.com/Castro-Media/CastroMedia.org/blob/main/{{ page.path }}">Edit this page on GitHub</a></li>
            </ul>
          </div>
      </div>
  </div>
  
</footer>
